<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <sectionGroup name="iBATIS">
      <section name="logging" type="IBatisNet.Common.Logging.ConfigurationSectionHandler, IBatisNet.Common"/>
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
        <arg key="configType" value="EXTERNAL"/>
      </factoryAdapter>
    </logging>
  </common>
  <iBATIS>
    <logging>
      <logFactoryAdapter type="IBatisNet.Common.Logging.Impl.Log4NetLoggerFA, IBatisNet.Common.Logging.Log4Net">
        <arg key="configType" value="external"/>
        <arg key="configFile" value="mybatislog4Net.config" />
      </logFactoryAdapter>
    </logging>
  </iBATIS>
  <appSettings>

    <add key="HostSetJson" value="[
         {'Basic':'http://127.0.0.1:9999/','Tcp':'net.tcp://127.0.0.1:9998/duzuhouseservice','Mex':'http://127.0.0.1/duzuhouseservice/mex'},
         {'Basic':'http://127.0.0.1:9000/','Tcp':'net.tcp://127.0.0.1:9001/duzuhouseservice','Mex':'http://127.0.0.1/duzuhouse/mex'}
         ]"/>


    <add key="MaxConcurrentCalls" value="1000"/>
    <add key="MaxConcurrentInstances" value="1000"/>
    <add key="MaxConcurrentSessions" value="1000"/>
  </appSettings>
</configuration>

