<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>
  <!--db provider配置文件路径-->
  <providers resource="providers.config"/>
  <database>
    <provider name="sqlServer" />
    <dataSource name="sqlServer" connectionString="server=192.168.3.3;user id=developer;password=developer;database=kyj_HouseDB_5_4;multipleactiveresultsets=True;"/>
  </database>
  <sqlMaps>
    <sqlMap embedded="Duanzu.House.Model.SqlServerMapXML.SqlServerSqlFile.xml,Duanzu.House.Model" />    
  </sqlMaps>
</sqlMapConfig>