
@{
    string staticUrl = Duanzu.TXCommons.BasicsClass.PubConstant.StaticBaseUrl;
    string version = "?v=" + Duanzu.TXCommons.BasicsClass.PubConstant.Version;   
}
<div class="short index">
    <div class="zm_footer w1200">
        <div class="link">
            <ul class="linkList clearFix">
                <li class="fl"><a href="javascript:void(0)">快有家首页</a></li>
                <li class="fl"><a href="javascript:void(0)">网站协议</a></li>
                <li class="fl"><a href="javascript:void(0)">帮助中心</a></li>
                <li class="fl"><a href="javascript:void(0)">投诉建议</a></li>
                <li class="fl"><a href="javascript:void(0)">友情链接</a></li>
                <li class="fl"><a href="javascript:void(0)">关于我们</a></li>
            </ul>
            <p class="ser font18 colfff">客服热线：400-999-3535 9:00-20:00</p>
            <p class="copy font14  colfff">
                Copyright &copy; 2015 www.kuaiyoujia.com All Rights Reserved<br>
                京公网安备 110105010112&nbsp;&nbsp;京ICP备11027796号-2&nbsp;&nbsp;   Email:service@kuaiyoujia.com
            </p>
            <ul class="renzList clearFix">
                <li class="fl"><a href="javascript:void(0)"><img alt="" src="@(staticUrl + "web/agent/Resource/images/short/pattern/zm_renz01.jpg" + version)"></a></li>
                <li class="fl"><a href="javascript:void(0)"><img alt="" src="@(staticUrl + "web/agent/Resource/images/short/pattern/zm_renz02.jpg" + version)"></a></li>
                <li class="fl"><a href="javascript:void(0)"><img alt="" src="@(staticUrl + "web/agent/Resource/images/short/pattern/zm_renz03.jpg" + version)"></a></li>
            </ul>
        </div>
    </div>
</div>