<div class="header">
    <div class="head head_new clearFix">
        <a class="logo" href="javascript:void(0)"></a>
        <div class="head_r fr">
            <ul class="head_nav clearFix">
                <li class="fl active">
                    <a class="" href="javascript:void(0)">短租会员</a>
                </li>
                <li class="fl">
                    <a class="" href="javascript:void(0)">登录</a>
                </li>
                <li class="fl">
                    <a class="" href="javascript:void(0)">注册</a>
                </li>
                <li class="fl">
                    <a class="btn" href="/ShortRent/ShortRent" target="_blank">发布短租房源</a>
                </li>
            </ul>
        </div>
    </div>
</div>