<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="TX.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, TX.UrlRewriter" />
  </configSections>
  <rewriter configSource="data\url.config" />
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--静态文件根目录-->
    <add key="static.baseUrl" value="http://static.yfxs.cn/static5.0/" />
    <!--静态文件版本号-->
    <add key="version" value="20160325" />
    <!--快有家url-->
    <add key="kyj.baseUrl" value="http://www.kyjob.com/"/>
    <add key="duanzu.baseUrl" value="http://duanzu.kyjob.com/"/>
    <!--登录cookie-->
    <add key="privatecookie" value="kyjhouseuser" />
    <add key="imgupload.baseUrl" value="http://imgupload.kyjproject.com/tximages/" />
    <add key="imgupload.specialbrower" value="safari,firefox"/>

    <add key="DuanZuHouseServicerBasicUrl" value="http://127.0.0.1:9999/,http://127.0.0.1:9000/"/>
    <add key="DuanZuHouseServicerTcpUrl" value="net.tcp://127.0.0.1:9998/duzuhouseservice,net.tcp://127.0.0.1:9001/duzuhouseservice"/>
    
    <!--禁用Visual Studio Browser Link-->
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>

  <system.web>
    <httpModules>
      <add type="TX.UrlRewriter.RewriterHttpModule,TX.UrlRewriter" name="UrlRewriter" />
    </httpModules>
    <httpRuntime targetFramework="4.5" />

    <compilation debug="true" targetFramework="4.5" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="LogsHttpModule" type="Duanzu.Web.ConfigClass.HttpModule.LogsHttpModule" />
      <add name="UrlRewriter" type="TX.UrlRewriter.RewriterHttpModule,TX.UrlRewriter" preCondition="" />
    </modules>
  </system.webServer>
</configuration>
